<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.booway.compass" version="0.0.2"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Compass</name>
    <js-module name="Compass" src="www/Compass.js">
        <clobbers target="Compass" />
    </js-module>
    <platform name="android">
        <!-- Normal Permissions 不需要运行时注册 -->
        <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
        <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
        <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
        <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
        <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
        <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>

        <!-- 请求网络 -->
        <uses-permission android:name="android.permission.INTERNET"/>

        <!-- 不是SDK需要的权限，是示例中的后台唤醒定位需要的权限 -->
        <uses-permission android:name="android.permission.WAKE_LOCK"/>

        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
        <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        <uses-permission android:name="android.permission.WAKE_LOCK" />
        <!--声明后台定位权限-->
        <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />


        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Compass">
                <param name="android-package" value="com.booway.compass.Compass" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/Compass.java" target-dir="src/com/booway/compass" />
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode" android:label="@string/activity_name" android:launchMode="singleTop" android:name="com.booway.compass.CompassActivity" android:theme="@style/Theme.AppCompat.NoActionBar" android:windowSoftInputMode="adjustResize" />
            <meta-data android:name="com.amap.api.v2.apikey" android:value="e8d7203165833aba9e16ae07e6dd8168"/>
        </config-file>
        <source-file src="src/android/CompassActivity.java" target-dir="src/com/booway/compass" />
        <source-file src="src/android/CheckPermissionsActivity.java" target-dir="src/com/booway/compass" />
        <source-file src="src/android/res/layout/activity_compass_layout.xml" target-dir="res/layout" />
        <source-file src="src/android/res/drawable-hdpi/gps_point.png" target-dir="res/drawable-hdpi" />
        <framework src="src/android/libs/compass-build.gradle" custom="true" type="gradleReference" />
        <service android:name="com.amap.api.location.APSService" />
    </platform>
</plugin>