<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.plugin.DBHelper" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>DBHelper</name>
    <js-module name="DBHelper" src="www/DBHelper.js">
        <clobbers target="cordova.plugins.DBHelper" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="DBHelper">
                <param name="android-package" value="cordova.plugin.DBHelper.DBHelper" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/DBHelper.java" target-dir="src/cordova/plugin/DBHelper/DBHelper" />
    </platform>
</plugin>